extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{templateData.name}
        //- EITHER WAY WORKS but top is interpolation
        p= templateData.desc

      .project-tech-links-box.box
        h6 Technologies
        ul

    
          each technology in templateData.tech
            li #{technology}

  
        a.btn-link(href=`${templateData.link}`, target="_blank") Live Demo
        a.btn-link(href=`${templateData.github}`, target="_blank") GitHub Repo

    .project-img-box.box

      
      each pic in templateData.images 
        img.project-img(src=`${pic}`, alt=`Picture of ${templateData.name}`)


    nav.nav
      a(href='/')
        span &larr;
        |  Back
